<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vandenbreemen.mobilesecurestorage">

    <application>
        <activity android:name=".android.SecureFileSystemDetails"
            android:exported="false"
            />
        <activity android:name=".android.FileImportActivity"
            android:exported="false"
            ></activity>
    </application>

</manifest>